.movie {
  min-width: 364px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .08);
}

.movie__header {
  height: 86px;
  padding: 0 14px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.movie__title {
  margin: 0;
  padding-top: 14px;
  width: 281px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-overflow: ellipsis;
}

.movie__duration {
  margin: 0;
  padding: 9px 0 14px 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #a0a0a0;
}

.movie__button {
  margin-top: 14px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  background-color: #f9f9f9;
  background-image: url('../../images/save.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.movie__button_active {
  background-color: #000;
  background-image: url('../../images/save_active.svg');
}

.movie__button_delete {
  background-color: #f9f9f9;
  background-image: url('../../images/save_delete.svg');
}

.movie__button:hover {
  opacity: .8;
}

.movie__img {
  width: 100%;
  max-height: 203px;
  object-fit: cover;
  display: block;
  object-position: bottom;
}

@media (max-width: 768px) {
  .movie {
    min-width: 339px;
  }
  .movie__img {
    height: 190px;
  }
}

@media (max-width: 425px) {
  .movie {
    min-width: 288px;
  }

  .movie__img {
    height: 168px;
  }

  .movie__title {
    width: 228px;
  }
}