button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.button__promo {
  color: #fff;
  text-decoration: underline;
  padding: 0 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.25;
}

@media (max-width: 425px) {
  .button__promo {
    padding: 0 12px;
    font-size: 11px;
    line-height: 1.45;
  }
}