.title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
}

@media (max-width: 425px) {
  .title {
    padding-bottom: 28px;
  }
}